:root {
  --color-rose: #f6aa91;
  --color-orange: #ea5e53;
  --color-background: #f6f2f0;
  --color-background-input: rgba(246, 242, 240, 0.4);
  --height-header: 100px;
  --height-footer: 120px;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  font-family: "Internacional", "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: var(--color-rose);
  color: white;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

h1 {
  font-size: 80px;
  line-height: 100px;
  letter-spacing: 0.1em;
}

h2 {
  font-size: 48px;
  line-height: 68px;
  letter-spacing: 0.04em;
}

h3 {
  font-size: 36px;
  line-height: 49px;
  letter-spacing: 0.04em;
}

h4 {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.04em;
}

h5 {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.04em;
}

p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
}

img {
  max-width: 100%;
}

.styled-link {
  background: none;
  border: none;
  padding: 0;
  text-decoration: none;
  color: var(--color-rose);
  transition: all 0.3s ease-in-out;
}

.styled-link:hover {
  color: var(--color-orange);
}

.container-xxl {
  padding-left: 5%;
  padding-right: 5%;
}

.button-primary {
  background-color: var(--color-rose);
  color: var(--color-background);
  border: none;
  padding: 6px 16px;
  transition: background-color 0.3s ease-in-out;
}

.button-primary:hover {
  background-color: var(--color-orange);
}

.button-secondary {
  background-color: var(--color-background);
  color: var(--color-rose);
  border: none;
  padding: 6px 16px;
  transition: background-color 0.3s ease-in-out;
  border-radius: 0%;
}

.button-secondary:hover {
  background-color: var(--color-orange);
  color: var(--color-background);
}

.centered-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.error-message {
  color: var(--color-orange);
  font-size: 12px;
  line-height: 15px;
  min-height: 15px;
}

.form-label {
  color: var(--color-rose);
}

.form-control,
.form-select {
  background-color: var(--color-background-input);
  border-radius: 0;
  border: none;
  transition: background-color 0.3s ease-in-out;
}

.form-control:focus,
.form-select:focus {
  box-shadow: none;
  background-color: rgba(246, 242, 240, 0.8);
}

.form-control:hover,
.form-select:hover {
  box-shadow: none;
  background-color: rgba(246, 242, 240, 0.8);
}
