:root {
  --color-rose: #f6aa91;
  --color-orange: #ea5e53;
  --color-background: #f6f2f0;

  --height-header: 100px;
  --height-footer: 120px;
}

html {
  font-size: 14px;
}

body {
  margin: 0;
  font-family: "Internacional", "Roboto";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: var(--color-rose);
  color: white;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 700;
}

h1 {
  font-size: 80px;
  line-height: 100px;
  letter-spacing: 0.1em;
}

h2 {
  font-size: 48px;
  line-height: 68px;
  letter-spacing: 0.04em;
}

h3 {
  font-size: 36px;
  line-height: 49px;
  letter-spacing: 0.04em;
}

h4 {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.04em;
}

h5 {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.04em;
}

p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.04em;
}

img {
  max-width: 100%;
}

.container-xxl {
  padding-left: 5%;
  padding-right: 5%;
}

.button-primary {
  background-color: var(--color-rose);
  color: var(--color-background);
  border: none;
  padding: 6px 16px;
  transition: background-color 0.3s ease-in-out;
}

.button-primary:hover {
  background-color: var(--color-orange);
}

.button-secondary {
  background-color: var(--color-background);
  color: var(--color-rose);
  border: none;
  padding: 6px 16px;
  transition: background-color 0.3s ease-in-out;
  border-radius: 0%;
}

.button-secondary:hover {
  background-color: var(--color-orange);
  color: var(--color-background);
}
