.error-page {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.error-page .link {
  text-decoration: none;
  color: var(--color-rose);
  transition: all 0.3s ease-in-out;
}

.error-page .link:hover {
  color: var(--color-orange);
}
