.Homepage-hero .Homepage-video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.Homepage-hero .Homepage-video-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.Homepage-hero {
  height: 100vh;
  position: relative;
  outline: 1px solid red;
  margin-top: -100px;
}
