PORT=

JWT_SECRET=

ACCESS_TOKEN=
CLIENT_SECRET=
COMPANY_ID=
CLIENT_ID=

DB_NAME=
MONGODB_URI=

API_URL=

SITE_URL=

EMAIL_SECRET=
EMAIL_USER=
EMAIL_PASS=

CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=