@font-face {
  font-family: "Internacional";
  src: url("fonts/Internacional-Light.woff2") format("woff2"),
    url("fonts/Internacional-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Internacional";
  src: url("fonts/Internacional-Regular.woff2") format("woff2"),
    url("fonts/Internacional-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Internacional";
  src: url("fonts/Internacional-SemiBold.woff2") format("woff2"),
    url("fonts/Internacional-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Internacional";
  src: url("fonts/Internacional-Bold.woff2") format("woff2"),
    url("fonts/Internacional-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
